body {
	background:#181818;
	color:#ccc;
}

a,
a:visited {
	color:#fff;
	font-weight:bold;
}

#header,
#footer {
	background:#51555c url(../images/header-gradient.gif) repeat-x center bottom;
	clear:both;
}

#header a,
#footer a {
	background: url(../images/header-texture.jpg) no-repeat center bottom;
	border-bottom:1px solid #333;
	display:block;
	font-size:11.5px;
	padding:10px;
	text-transform:uppercase;
}

#content {
	margin:40px auto;
	position:relative;
	width:90%;
}

.entry-attachment img {
	border:2px solid #111;
}
.figure-info {
	background:transparent url(../images/divider-ornament-wide-darker.png) no-repeat scroll center top;
	margin:20px auto 0;
	padding:25px 40px;
	width:33em;
}
.figure-info .title {
 	margin:0;
	word-wrap: break-word; /* works in IE, Safari and FF 3.1 beta */
}
.figure-info .caption {
	color:#777;
}
.figure-info .caption p {
	font:italic 1.16666667em/1.28571429 georgia, serif;
	margin-bottom:1.28571429em;
	margin-top:.25em;
}

.entry-attachment {
	text-align:center;
}

.previous-attachment,
.next-attachment {
	background:url(../images/50px-flourish-left.png) no-repeat 10px bottom;
	padding-bottom:13px;
	position:absolute;
	top:0px;
}
.next-attachment{
	background:url(../images/50px-flourish-right.png) no-repeat right bottom;
	right:0;
}
.previous-attachment span,
.next-attachment span {
	background:#111 url(../images/arrow-bullet-dark-left.gif) no-repeat left center;
	display:block;
	padding-left:10px;
}
.next-attachment span {
	background-image:url(../images/arrow-bullet-dark-right.gif);
	background-position:right center;
	padding:0 10px 0 0;
}

.previous-attachment a,
.next-attachment a{
	border:2px solid #111;
	display:block;
	width:50px;
	height:50px;
	overflow:hidden;
}
.previous-attachment a:hover,
.next-attachment a:hover {
	width:auto;
	height:auto;
}