body {
	background:#222;
	color:#ccc;
}

a,
a:visited {
	color:#fff;
	font-weight:bold;
}

#header,
#footer {
	background:#51555c url(../images/header-gradient.gif) repeat-x center bottom;
	clear:both;
}

#header a,
#footer a {
	background: url(../images/header-texture.jpg) no-repeat center bottom;
	border-bottom:1px solid #333;
	display:block;
	padding:10px;
	text-transform:uppercase;
}

#content {
	margin:40px auto;
	position:relative;
	width:90%;
}

.entry-attachment img {
	border:2px solid #333;
}
.figure-info {
	background:transparent url(../images/divider-ornament-wide.gif) no-repeat scroll center top;
	margin:20px auto 0;
	padding:25px 10px;
	width:33em;
}
.figure-info .title {
 	margin:0;
}
.figure-info .caption {
	color:#777;
}
.figure-info .caption p {
	font:italic 1.16666667em/1.28571429 georgia, serif;
	margin-bottom:1.28571429em;
	margin-top:.25em;
}

.entry-attachment {
	text-align:center;
}

.previous-attachment a,
.next-attachment a{
	border:2px solid #333;
	position:absolute;
	top:0px;
	text-align:center;
	width:50px;
	height:50px;
	overflow:hidden;
}
.previous-attachment a:hover,
.next-attachment a:hover {
	width:auto;
	height:auto;
}
.next-attachment a{
	right:0;
}