.figure-info {
	background-image:url(../img/ie/divider-ornament-wide-darker.gif);
}
.previous-attachment {
	background-image:url(../img/ie/150px-flourish-left-darker.gif);
}
.next-attachment{
	background:url(../img/ie/150px-flourish-right-darker.gif);
}